html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-Helvetica, "Rpboto", "Open Sans", sans-serif;
  color: #66666a;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
  
h1,
h2,
h3,
h4,
h5,
p,
ul,
a,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  background: none;
}

.wrapper{
  max-width: 1555px;
  margin: 0 auto;
  background: linear-gradient( #ffffff, #e8e8e9 , #e8e8e9 )no-repeat;
}

.main-container{
  overflow: hidden;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.color-red{
  color: red;
}