@charset 'utf-8';
//utilits
@import "./base/normalize";
@import "./base/fonts";
@import "./utils/variables";
@import "./utils/mixin";

//base
@import "./base/base";
@import "./utils/placeholders";

//layout
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

//conponents
@import "./conponents/hamburger";
@import "./conponents/left-menu";
@import "./conponents/media";
@import "./conponents/stocks";
@import "./conponents/search";
@import "./conponents/products";
@import "./conponents/modal";
@import "./conponents/tooltips";
@import "./conponents/request";
@import "./conponents/filters";

// libs
@import "./libs/micromodal";

