%currency {
  position: relative;
  &:before {
    content: "$";
    position: relative;
    left: -1px;
  }
}

.USD %currency:before {
  content: "$";
}
.EUR %currency:before {
  content: "\20AC ";
}
.ILS %currency:before {
  content: "\20AA ";
}
.GBP %currency:before {
  content: "\00A3 ";
}
