.header{
    position: sticky;
    top: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    background-color: #fff;

  .header_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}

.logo{
    display: flex;
    align-items: center;
    color: #66666a;

    img{
        width: 30px;
        height: 30px;
        margin-right: 15px;
    }

    span{
        display: none;
        @include font( 700, 22px, 1.2);
        font-family: $font-Helvetica-Con;
    }

}

.smart-menu{
    display: flex;
    min-width: 150px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: 10px;

    @include respondTo(smallScreen){
        display: none;
    }

    .smart-menu__item{
        position: relative;
        cursor: pointer;
        padding: 5px 10px;

        &:not(:last-child):after {
            content: ' ';
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background: linear-gradient(to bottom, rgba(192, 192, 192, 0) 20%,
                         silver 50%, rgba(192, 192, 192, 0) 80%);
        }
    }

}

.caret-sum{
    position: absolute;
    right: 5px;
    top: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #f5c002;
    text-align: center;
    line-height: 12px;
    font-size: 8px;
}

// lang list
.lang-list{
    display: none;
    align-items: center;

    .lang-name{
        width: 41px;
        height: 30px;
        @include font( 700, 11px, 28px);
        color: #66666a;
        outline: none;
        cursor: pointer;

        &.active{
            position: relative;
            background-color: #e6e6e7;
            border-radius: 5px 5px 5px 0;

            &:before{
                position: absolute;
                bottom: -10px;
                left: 0;
                content: '';
                border-style: solid;
                border-width: 11px 11px 0 0;
                border-color: #e6e6e7 transparent transparent transparent;
              }           
        }
    }
}

// navigation

.nav-menu{
    display: none;

    .nav-menu_link{
        @include font( 700, 12px, 14px);
       padding: 9px;
       color: #8e8d93;
    }

    .nav-item:last-child .nav-menu_link{
      padding-right: 0;
    }
}

// contacts menu
.contacts-list{
    display: none;
    align-content: center;
    
    .contacts-item:not(:last-child){
      position: relative;
      padding-right: 37px;

      &:after{
        position: absolute;
        right: 0;
        top: 7px;
        content: '';
        display: block;
        width: 1px;
        height: 23px;
        background-color: #aaa;
      }

    }

    .contacts-item:first-child{
      padding-left: 0;
   }

    .contacts-item{
      padding-left: 47px;

      .contacts-number{
        position: relative;
        @include font( 400, 14px, 29px);
      }

      span{
        vertical-align:top;
        margin-left: 10px;
        @include font( 700, 30px, 1.2);      
        font-family: $font-Helvetica-Con;
      }

      .contacts-adres{
        @include font( 400, 12px, 14px);
        margin-top: 4px;
      }
    }
}