  @media(min-width: 767px){
    // header
  .smart-menu__item{
    padding: 7px 17px;
  }  
  .smart-menu_language{
    display: none;
  }
  .lang-list{
    display: flex;
  }
  .hamburger-overlay{
    top: 95px;
  } 

  .top-section .logo span{
    display: block;
  }
}

@media(min-width: 1023px){
    // header
    .top-section .logo{
      display: none;
    }
}

@media(min-width: 1024px){

  .wrapper{
    background: 
                url(./../images/background.png)no-repeat bottom/contain,
                linear-gradient( #ffffff, #e8e8e9 , #e8e8e9 )no-repeat;
  }
    // header

    .header{ 
      position: static;
      padding-top: 23px;
      padding-bottom: 10px;
    }
    .nav-menu{
      display: flex;
    }

    .top-section{
      margin-bottom: 22px;
    }

    .search-section{
      padding: 0;
    }

    .search-form__input{
      padding: 12px 32px 12px 8px;
    }

    // .search-section .logo{
    //   display: flex;

    //     img{
    //       width: 48px;
    //       height: 48px;
    //       margin-right: 15px;
    //    }

    //    span{
    //      display: block;
    //      @include font( 700, 36px, 45px);
    //      font-family: $font-Helvetica-Con;
    //      text-shadow: 2px 5px 6px rgba(2, 2, 6, 0.16);
    //    }
    // }

    button.hamburger{
      display: none;
    }

    .contacts-list{
      display: flex;
    }
}