.popular-product,
.products-block{
    max-width: 865px;
    min-height: 300px;
    background-color: #fff;
}

.popular-product,
.products-block{
    border-radius: 30px;
    margin-bottom: 1px;
}

.products-block{
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-item{
    text-align: center;
    flex: 0 0 195px;
    padding-bottom: 15px;

    .product-info{
      @include font(500, 11px, 14px);
      color: #66666a;
      padding: 5px;
      text-transform: uppercase;
    }

    .product-img{
        display: block;
        margin: 0 auto;
        width: 160px;
        height: 160px;
    }
}

.price-wrap{
    display: flex;
    flex-direction: column;
    align-items: center
}

.product-price{
    @include font(700, 20px, 28px);
    font-family: $font-Helvetica-Con;
    color: #0060fa;
    margin-bottom: 10px
}

.price-currency{
    @include font(400, 20px, 28px);
    font-family: $font-Helvetica;
}

.product-button{
    min-width: 80px;
    color: #fff;
    background-color: #0060fa;
    @include font(400, 14px, 14px);
    padding: 6px;
    border: 1px solid #0060fa;
    border-radius: 12px;
    cursor: pointer;
    outline: none;
    transition: color, background 250ms linear;
}

.product-button:hover{
    color: #0060fa;
    background-color: #fff;
    transition: color, background 250ms linear;
}



