
.stocks-list,
.filter-list{
    display: flex;
    padding: 5px;
    align-items: center;
}

.stocks-list-item:not(:last-child) .stocks-name,
.filter-list-item:not(:last-child) .filter-name{
    margin-right: 20px;
}

.stocks-name,
.filter-name{
    @include font(400, 11px, 14px);
    color: #66666a;
    text-decoration: underline; 
    cursor: pointer;
}

.active-btn{
    color: #fff;
    text-decoration: none;
    background-color: #ff5757;
    border-radius: 15px;
}

.stocks-name.active-btn{   
    text-transform: uppercase;
    padding: 8px 15px;
}
